$color-grey-dark: #3c3f42;
$color-grey-light: #ebecec;

// Break points
$break-small: 562px;
$break-small-max: 561px;

$break-medium: 834px;
$break-medium-max: 833px;

$break-large: 970px;
$break-large-max: 969px;